a {
  cursor: pointer;
}

h1.bright {
  color: #fff
}

.column-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.column-container > .column {
  width: 50%;
  padding: 1em;
}

img[src="img/banno-logo.svg"] {
  width: 50%;
}

img[src="img/jquery.png"] {
  width: 50%;
}

blockquote {
  text-align: left;
}

cite {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1em;
  font-size: xx-small;
}

blockquote cite {
  font-size: 100%;
  position: static;
  display: block;
  text-align: right;
}

del.underneath {
  opacity: 0.6;
  text-decoration: none;
}

ins.overlap {
  text-decoration: none;
  display: inline-block;
  position: relative;
  transform: rotate(-10deg);
  top: 0.4em;
  left: -4em;
  font-size: 125%;
  color: #fff;
  width: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.glowing {
  width: 50%;
  background: rgba(255,255,255,.75);
  -webkit-box-shadow: 10px 10px 73px 73px rgba(255,255,255,0.75);
  -moz-box-shadow: 10px 10px 73px 73px rgba(255,255,255,0.75);
  box-shadow: 10px 10px 73px 73px rgba(255,255,255,0.75);
}

.ft-page {
  padding: 0;
}

.flowtime .stack-center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
