.ft-section(data-id="intro")
  .ft-page(data-id="title")
    .stack-center
      .stacked-center
        h1.bright Use The Platform
  .ft-page(data-id="more-info")
    .stack-center
      .stacked-center
        h1 Thanks
        p
          a(src="https://github.com/eheikes/use-the-platform-talk") github.com/eheikes/use-the-platform-talk
        p
          a(src="twitter.com/ericheikes") @EricHeikes
