a {
  cursor: pointer;
}

h1.bright {
  color: #fff
}

.column-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.column-container > .column {
  width: 50%;
  padding: 1em;
}
